.container {
    width: 340px;
    margin: 0 auto;
    margin-top: 100px;
    border: 3px solid rgb(72, 67, 67);
    border-radius: 10px;
    padding: 15px;
    background-color: aquamarine;
}
h1 {
    text-align: center;
    margin-bottom: 5px;
}
p {
    font-weight: 700;
}
input {
    padding: 0px 3px;
}
input:focus {
    outline: 0;
}
.button-chr {
    text-align: center;
    padding-top: 10px;
}
button {
    font-weight: 700;
    padding: 5px;
}
.alert-Academic {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}
.notice {
    text-align: center;
    padding-top: 15px;
    color: red;
    font-size: 18px;
}
.note {
    position: fixed;
    width: 500px;
    height: 200px;
    font-size: 15px;
    font-weight: 700;
    top: 105px;
    left: 50px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: aquamarine;
    padding-left: 30px;
    padding-top: 30px;
}